.selecionados {
  margin: 15px 0;
  font-size: 14px;
}

/* =========================
   MODO APRESENTAÇÃO (CORRETO)
========================= */

.apresentacao details {
  display: none;
}

.apresentacao .acoes {
  display: none;
}

.apresentacao .selecionados {
  display: block;
}

.apresentacao #selecionados div {
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 1.4;
}
