.selecionados {
  margin: 15px 0;
  font-size: 14px;
}

/* =========================
   MODO APRESENTAÇÃO
========================= */

.apresentacao details,
.apresentacao summary,
.apresentacao label,
.apresentacao .acoes {
  display: none;
}

.apresentacao .selecionados {
  display: block;
}

.apresentacao #selecionados div {
  margin-bottom: 6px;
  font-size: 15px;
}
